:root {
  --dark-gray: #2c3e50;
  --light-gray: #e7e7eb;
  
}

.hidden {
  display: none;
}
.visible {
  display: inline-block;
}
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-gray, black);
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

body a {
  text-decoration: none;
}
body a:hover {
  color: blue
}

.app__nav {
  background-color: #0a0d0a;
}
.app__nav a {
  padding: 10px;
  display: inline-block;
  color: white;
}
.app__nav a:hover {
background-color: gray;
color: white
}

.chart__container {
  display: grid;
  grid-template-columns: 12rem 1fr;
  width: 100%;
}

.chartlibrary {
  overflow: scroll;
}
.chartlibrary::-webkit-scrollbar {
  display: none;
}
.chartlibrary p {
  padding: 10px;
  margin: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid var(--light-gray, gray);
}
.chartlibrary p:hover {
  background-color: #0a0d0a;
}
.chartlibrary p:hover a {
  color: white;
}





.chordboard__nav li {
  display: inline-block;
}
.chordboard__nav li button:hover {
background-color: #0a0d0a}

.chordboard__wrapper {
  width: 80%;
}
.simple-keyboard {
  max-width: 600px;
}








/* CHART */

.outer__chart {
  overflow-x: scroll;
  white-space: nowrap;
}
.outer__chart::-webkit-scrollbar {
  display: none;
}
.chart__new {
  width: 100%;
  overflow: scroll;
}
.chart__new::-webkit-scrollbar {
  display: none;
}

.chart__new .chordboard__main {
  text-align: center;
}
.chart__new .chordboard__wrapper {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}
.chart__new .simple-keyboard {
  display: inline-block;
}





.chart__title input::-webkit-input-placeholder, .chart__author input::-webkit-input-placeholder {
  color: pink;
  font-size: 1.5rem;
}
.chart__title input::-moz-placeholder, .chart__author input::-moz-placeholder {
  color: pink;
  font-size: 1.5rem;
}

.chart__title input, .chart__author input {
  height: 2rem;
  width: 40%;
  border: 1px solid black;
  font-size: 1.5rem;
  text-align: center;
}

.chart__details-tempo, .chart__details-key, .chart__details-time {
  font-size: .8rem;
}
.chart__details-tempo input, .chart__details-key input {
  width: 1.8rem;
}

.chart__details-time input[type="radio"] {
  width: 0;
  margin: 0;
}
.chart__details-time span {
  background-color: rgb(160, 159, 159);
  border-radius: 2rem;
  text-align: center;
  padding: 2px 4px 2px 4px;
  color: white;
}
.chart__details-time input[type="radio"]:checked + span {
  background-color: #0a0d0a;
}

button:hover {
  background-color: #0a0d0a;
  color: white;
}
select:hover {
  background-color: #0a0d0a;
  color: white;
}



.chart__doc-id {
  color: white;
  font-size: 1.2rem;
}
.chart {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}
.chart__options-wrapper {
  width: 100%;
}
.chart__options {
  border-top: 2px solid rgb(160, 160, 139);
  height: 2.5rem;
  font-size: 0.8rem;
  color: white;
  background-color: rgb(160, 159, 159);
  white-space: nowrap;
  overflow-x: scroll;
}
.chart__options::-webkit-scrollbar, .chart__options::-webkit-scrollbar, .chart__options::-webkit-scrollbar-track {
  width: 1px;
  height: 1px;
  color: rgb(232, 233, 229)
}
.chart__options::-webkit-scrollbar-thumb {
  color: black;
}

.chart__options span {
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}
.chart__options-lyrics-text {
  position: absolute;
  left: 12rem;
  margin-top: 25px;
  height: 200px;
  width: 200px;
  white-space: pre-line;
}

.chart__header {
  height: 3rem;
}
.chart__body {
  display: grid;
  grid-row-gap: 1rem;
  font-size: 2rem;
}
.grid__col-1 {
  grid-template-columns: 1fr;
}
.grid__col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid__col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid__col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid__col-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid__col-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid__col-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid__col-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid__col-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid__col-10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid__col-11 {
  grid-template-columns: repeat(11, 1fr);
}
.grid__col-12 {
  grid-template-columns: repeat(12, 1fr);
}
.chart__details {
  font-size: 1rem;
}


.chart__measure-bar {
  display: inline-block;
  font-size: .8rem;
  margin: 0;
  text-align: left;
  visibility: hidden;
}
.chart__measure:hover .chart__measure-bar {
  visibility: visible;
}
.chart__measure-beats, .chart__measure-lyrics {
  border-left: 1px solid black;  
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.chart__measure-beats {
  padding: 0px 20px 0px 20px;
}
.chart__measure-lyrics {
  padding: 0px 20px 0px 20px;
}



.lyric {
  font-size: 1rem;
  border: none;
  padding: 0;
  width: 100%;
}
.lyric::placeholder {
  color: black;
  text-align: center;
}
.lyric:focus::placeholder {
  color: grey;
}