@font-face {
  font-family: 'Desyrel';
  src: url('DESYREL_.ttf');
}
:root {
  --dark-gray: #2a2d2a;
  --light-gray: #e7e7eb;  
}

.hidden {
  display: none;
}
.visible {
  display: inline-block;
}
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-gray, black);
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

body a {
  text-decoration: none;
  color: rgb(121, 140, 131);
}
body a:hover {
  color: blue
}
.login__welcome {
  font-family: 'Desyrel';
  font-size: 4rem;
  text-align: center;
  width: 75%;
  margin-top: 25px;
}
.login__links {
  margin-top: 25px;
  font-size: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.login__form {
  margin: 2rem;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 200px;
}
.app__nav {
  background-color: #0a0d0a;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.app__nav a {
  padding: 10px;
  display: inline-block;
  color: white;
}
.app__nav a:hover {
background-color: gray;
color: white
}
.app__nav .logo {
  color: white;
  font-family: 'Desyrel';
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.user__wrapper {
  width: 100%;
}
.login-btn {
  font-weight: bold;
  color:white;
  margin-right: 10px;
  height: 100%;
  cursor: pointer;
}
.user {
  font-weight: bold;
  color:white;
  margin-right: 10px;
  height: 100%;
  cursor: pointer;
  float: right;
}

.chart__container {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
}

.chartlibrary {
  overflow: scroll;
  max-width: 12rem;
}
.chartlibrary::-webkit-scrollbar {
  display: none;
}
.chartlibrary p {
  padding: 10px;
  margin: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid var(--light-gray, gray);
}
.chartlibrary p:hover {
  background-color: #0a0d0a;
}
.chartlibrary p:hover a {
  color: white;
}

.chartlibrary__welcome {
  height: 93.3vh;
  background-image: url('./keyboard.jpg');
  background-size: 125%;
  padding: 0;
}

.chartlibrary__welcome-overlay {
  height: 93.3vh;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.824)
}

.welcome-scroll {
  overflow-y: scroll;
  height: 93.3vh;
}


.caret__container {
  height: 34px;
  width: 20px;
  float: right;
  padding-top: 5px;
  background-color: rgb(255, 255, 255);
}
.caret__in {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgb(160, 160, 160);
  display: inline-block;
}

.caret__out {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgb(160, 160, 160);
  display: inline-block;
}



.chordboard__nav li {
  display: inline-block;
}
.chordboard__nav li button:hover {
background-color: #0a0d0a}

.chordboard__wrapper {
  width: 80%;
}
.simple-keyboard {
  max-width: 600px;
}








/* CHART */

.outer__chart, .chart__new {
  overflow-x: scroll;
  white-space: nowrap;
  background-color: rgba(0,0,0,.1);
}
.outer__chart::-webkit-scrollbar {
  display: none;
}
.chart__new, .chart {
  overflow: scroll;
}
.chart__new::-webkit-scrollbar, .chart::-webkit-scrollbar {
  display: none;
}

.chart__new .chordboard__main {
  text-align: center;
}
.chart__new .chordboard__wrapper {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}
.chart__new .simple-keyboard {
  display: inline-block;
}





.chart__title input::-webkit-input-placeholder, .chart__author input::-webkit-input-placeholder {
  color: pink;
  font-size: 1.5rem;
}
.chart__title input::-moz-placeholder, .chart__author input::-moz-placeholder {
  color: pink;
  font-size: 1.5rem;
}

.chart__title input, .chart__author input {
  height: 2rem;
  width: 40%;
  border: 1px solid black;
  font-size: 1.5rem;
  text-align: center;
}

.chart__details {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.chart__details-tempo, .chart__details-key, .chart__details-time {
  font-size: .8rem;
}
.chart__details-tempo input, .chart__details-key input {
  width: 1.8rem;
}

.chart__details-time input[type="radio"] {
  width: 0;
  margin: 0;
}
.chart__details-time span {
  background-color: rgb(160, 159, 159);
  border-radius: 2rem;
  text-align: center;
  padding: 2px 4px 2px 4px;
  color: white;
}
.chart__details-time input[type="radio"]:checked + span {
  background-color: #0a0d0a;
}

button:hover {
  background-color: #0a0d0a;
  color: white;
}
select:hover {
  background-color: #0a0d0a;
  color: white;
}



.chart__doc-id {
  color: white;
  font-size: 1.2rem;
}
.chart {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  min-width: 600px;
  min-height: 400px;
  margin: 2px;
  border: 1px solid var(--light-gray, gray);
  background-color: white;
  border-radius: 10px;
}

.chart__options-wrapper {
  width: 100%;
}
.chart__options {
  border-top: 2px solid rgb(160, 160, 139);
  height: 2.5rem;
  font-size: 0.8rem;
  color: white;
  background-color: rgb(160, 159, 159);
  white-space: nowrap;
  overflow-x: scroll;
}
.chart__options::-webkit-scrollbar, .chart__options::-webkit-scrollbar, .chart__options::-webkit-scrollbar-track {
  width: 1px;
  height: 1px;
  color: rgb(232, 233, 229)
}
.chart__options::-webkit-scrollbar-thumb {
  color: black;
}

.chart__options span {
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}
.chart__options-lyrics-text {
  position: absolute;
  left: 12rem;
  margin-top: 25px;
  height: 200px;
  width: 200px;
  white-space: pre-line;
  z-index: 2;
}

.lyrics-modal {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(240, 240, 240, 0.2);
}

.chart__header {
  height: 3rem;
}
.chart__body {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 0;
  font-size: 2rem;
  width: 100%;
  overflow: scroll;
}
.chart__body::-webkit-scrollbar {
  display: none;
}

.grid__col-1 {
  grid-template-columns: 1fr;
}
.grid__col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid__col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid__col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid__col-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid__col-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid__col-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid__col-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid__col-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid__col-10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid__col-11 {
  grid-template-columns: repeat(11, 1fr);
}
.grid__col-12 {
  grid-template-columns: repeat(12, 1fr);
}


.chart__measure {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 28px 1fr 28px;
}
.chart__measure-bar {
  display: inline-block;
  font-size: .8rem;
  margin: 0;
  text-align: left;
  visibility: hidden;
}
.barbtn__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  overflow: hidden;
  max-height: 20px;
}
.barbtn__container .barbtn:nth-child(2n) {
  text-align: right;
}
.chart__measure:hover .chart__measure-bar {
  visibility: visible;
}
.chart__measure-beats, .chart__measure-lyrics {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 0;
  overflow: hidden;

}
.chart__measure-beats {
  padding: 0px 10px 0px 10px;
}
.chart__measure-lyrics {
  padding: 0px 10px 0px 10px;
}



.chordboard__mini {
  width: 75%;
  float: right;
  text-align: center;
  padding: 0;
  position: fixed;
  background-color: transparent;
  display: grid;
  bottom: 15px;
}
.chordboard__mini .caret__container {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 100%;
    text-align: center;
    float: none;
    background-color: transparent;
}
.caret__container span {
  vertical-align: top;
  margin-right: 5px;
  color: rgb(160, 160, 160);
  -webkit-font-smoothing: antialiased;

}
.chordboard__mini .caret__background {
  display: inline-block;
  background-color: rgba(0,0,0,.1);
  width: 34px;
  border-radius: 2px;
  height: 16px;
  padding-top: 4px;
  padding-left: 3px;
}
.chordboard__mini .caret__up {
  width: 0;
  height: 0;
  border-bottom: 15px solid white;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  box-shadow: rgba(240, 240, 240, 0.2);
}
.chordboard__mini .caret__down {
  width: 0;
  height: 0;
  border-top: 15px solid white;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

.chordboard__mini .simple-keyboard.hg-theme-default .hg-button {
  height: 25px;
}
.chordboard__mini .chordboard__main{
  height: 80%;
  display: inline-block;
  width: 50%;
  font-size: .5rem;
  padding: 0;
  margin: 0;
}
.chordboard__mini .hg-button {
  height: auto;
}


/* REPEATS */
.bar {
  height: 60px;
  display: inline-block;
  padding: 0;
  margin-right: 1px;
}
.bar-start {
  float: left;
  border-left: 2px solid black;
}
.bar-end {
  float: right;
}
.start-repeat {
  border-left: 5px solid black;
}
.end-repeat {
  border-right: 3px solid black;
  margin-right: 0px;
}
.start-line {
  margin-left: 2px;
  border-left: 2px solid black;
}
.end-line {
  margin-right: 2px;
  border-right: 2px solid black;
}
.dots__container {
  border: none;
  margin-left: 2px;
  margin-right: 2px;
}
.dot {
  height: 0px;
  width: 0px;
  border: 6px solid black;
  border-radius: 6px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
.measure__content {
  display: inline-block;
  width: 100%;
}




.lyric {
  font-size: 1rem;
  border: none;
  padding: 0;
  width: 100%;
}
.lyric::placeholder {
  color: black;
  text-align: center;
}
.lyric:focus::placeholder {
  color: grey;
}



.chordboard__library {
  margin: 0 30px;
  display: inline-block;
}
.chordboard__nav-wrapper {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 0;
}
.chordboard__selected {
  background-color: black;
  color: white;
  display: inline-block;
}

.chordboard__edit-btn {
  width: 100%;
  display: inline-block;
  text-align: right;
}
.info {
  border: 1px solid rgb(220, 220, 220);
  padding: 1rem;
  box-shadow: 4px 5px rgb(214, 233, 215);
  max-width: 500px;
  margin: 20px;
  font-size: 0.9rem;
  background-color: white;
}
.beat {
  display: inline-block;
}